@* Navigation Menu Component *@

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="WhalePlatform Enterprise" class="logo" src="/images/logo.png" style="max-height: 50px;">
        </a>
        
        <button class="navbar-toggler" type="button" @onclick="ToggleMobileMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavbarCssClass" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="fa fa-home"></i> Home
                    </NavLink>
                </li>
                <li class="nav-item dropdown @(productsDropdownOpen ? "show" : "")">
                    <a class="nav-link dropdown-toggle" href="#" role="button" @onclick="ToggleProductsDropdown" @onclick:preventDefault>
                        <i class="fa fa-box"></i> Products
                    </a>
                    <ul class="dropdown-menu @(productsDropdownOpen ? "show" : "")">
                        <li><NavLink class="dropdown-item" href="/products" @onclick="CloseDropdowns">All Products</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/products/active" @onclick="CloseDropdowns">Active Products</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/products/low-stock" @onclick="CloseDropdowns">Low Stock</NavLink></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><NavLink class="dropdown-item" href="/products/form" @onclick="CloseDropdowns"><i class="fa fa-plus"></i> New Product</NavLink></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/cart">
                        <i class="fa fa-shopping-cart"></i> Cart
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/orders">
                        <i class="fa fa-receipt"></i> Orders
                    </NavLink>
                </li>
            </ul>

            <form method="get" action="/products" class="d-flex me-3">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search products..." style="min-width: 250px;">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>

            <div class="d-flex align-items-center">
                <LoginDisplay />
            </div>
        </div>
    </div>
</nav>

@code {
    private bool mobileMenuOpen = false;
    private bool productsDropdownOpen = false;

    private string NavbarCssClass => mobileMenuOpen ? "navbar-collapse collapse show" : "navbar-collapse collapse";

    private void ToggleMobileMenu()
    {
        mobileMenuOpen = !mobileMenuOpen;
        if (!mobileMenuOpen)
        {
            CloseDropdowns();
        }
    }

    private void ToggleProductsDropdown()
    {
        productsDropdownOpen = !productsDropdownOpen;
    }

    private void CloseDropdowns()
    {
        productsDropdownOpen = false;
        mobileMenuOpen = false;
    }
}

